PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/bis-sathi

JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173
MOBILE_APP_ORIGIN=exp://localhost:8081
PASSWORD_RESET_EXPIRES_IN=1h

REDIS_URL=redis://localhost:6379
NODE_ENV=development

